:root {
    --heading-background-color: navy;
    --heading-text-color: white;

}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}
nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--heading-background-color);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0
}
main {
    max-width: 500px;
}
aside {
    width: 500px;
    height: auto;
    margin: 20px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}